<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Bicyclotron</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />
</head>
<body>

	<header>
		<img src="bikes.gif" alt="Truly awesome stolen logo"
			class="centerlogo">
	</header>



	<h2 style="text-align: center">Bicyclotron! Spin them wheels!</h2>

	<h3 style="text-align: center">Show me what you've got:</h3>


	<form id="dataform" action="" method="post" th:object="${data}"
		th:href="index.html">

		<p>
			Select driver: <select name="driver" th:field="*{driver}" required>
				<option value="">Please Select Driver</option>
				<option value="MOOZH">Moozh</option>
				<option value="ZHENA">Zhena</option>
			</select>
		<p>
			Choose difficulty: <select name="difficulty" th:field="*{difficulty}"
				required>

				<option value="5">5: Zhena</option>
				<option value="6">6: Moozh</option>
				<option value="7">7: Kreten</option>
				<option value="8">8: Holy Moly!</option>
			</select>
		<p>
			Enter time: <input name="minutes" type="number" placeholder="30"
				th:field="*{minutes}" required />
		<p>
			Enter distance: <input name="distance" type="number" placeholder="10"
				th:field="*{distance}" step="0.01" required />
		<p>
			Enter date: <input type="date" name="date" th:field="*{date}"
				required /> <input type="submit" value="Submit" /> <input
				type="reset" value="Reset" />
	</form>


	<button onClick="window.location.reload();"
		class="button button_refresh">
		<span>Refresh Table</span>
	</button>

<p>
	<table>
		<tr>

			<th>Driver</th>
			<th>Difficulty</th>
			<th>Minutes</th>
			<th>Distance</th>
			<th>Date</th>
			<th>Average Speed</th>
		</tr>

		<tr th:each="data, iter : ${findAll}"
		>

			<td th:text="${data.getDriver()}" th:style ="${isMoozh[iter.index]} == true ? 'background-color: #D6EAF8;' : 'background-color: #EBDEF0;'"></td>
			<td th:text="${data.getDifficulty()}" th:style ="${isMoozh[iter.index]} == true ? 'background-color: #D6EAF8;' : 'background-color: #EBDEF0;'"></td>
			<td th:text="${data.getMinutes()}" th:style ="${isMoozh[iter.index]} == true ? 'background-color: #D6EAF8;' : 'background-color: #EBDEF0;'"></td>
			<td th:style="${data.getDistance()} == ${maxDistance}  ? 'color:green;'" th:text="${data.getDistance()}"></td>
			<td th:text="${data.getDate()}" th:style ="${isMoozh[iter.index]} == true ? 'background-color: #D6EAF8;' : 'background-color: #EBDEF0;'"></td>
			<td th:text="${data.getAverageSpeed()}" th:style ="${isMoozh[iter.index]} == true ? 'background-color: #D6EAF8;' : 'background-color: #EBDEF0;'"></td>
 		
 	 	
	</table>


	<footer> Skarabudzeno by Risac. </footer>
</body>
</html>